.env_sentiment
Web Scraping Customer Reviews from Flipkart.pdf
sentiment_analysis.py
notebook.ipynb
flipkart-review-webapp
ubuntu@ec2-3-93-184-191.compute-1.amazonaws.com
flask_deployment_jan_internship_24.pem